@import url("./style.css");

section.home {
    min-height: 100vh;
  background: linear-gradient(252.82deg, #d4fc79, #8fd3f4);
  /*background: linear-gradient(252.82deg, rgba(212, 252, 121, 1),
    rgba(143, 211, 244, 0.08)); */
}

.nav-bar {
  position: fixed;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;

  /*position: absolute;*/
  width: 1250px;
  height: 63px;
  left: calc(50% - 1250px / 2);
  top: 48px;

  z-index: 99;
}
.nav-links {
  flex: 1;
  text-align: right;
}
.nav-links ul li {
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  /*position: relative;*/
}
.nav-links ul li a {
  color: #000000;
  text-decoration: none;
  font-family: Space Grotesk;
}
.nav-links ul li::after {
  content: " ";
  width: 0%;
  height: 2px;
  background-color: #5274ff;
  display: block;
  margin: auto;
  transition: 0.5s;
}
.nav-links ul li:hover::after {
  width: 100%;
}
.tagline {
  position: absolute;
  width: 523px;
  height: 291px;
  left: 782px;
  top: 226px;

  font-family: Space Grotesk;
  font-style: normal;
  font-weight: bold;
  font-size: 75.887px;
  line-height: 97px;
  text-align: center;
  text-transform: uppercase;

  color: #000000;
}
.buttons {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;

  position: absolute;
  left: 855px;
  top: 590px;
}
.button1 {
  padding: 1rem 2rem;

  background: #5274ff;
  box-shadow: 0px 3.97826px 19.8913px rgba(0, 0, 0, 0.25);
  border-radius: 21.3953px;

  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 0px 35px;
}
.button1 a {
  color: #fff;
  text-decoration: none;
  font-family: Space Grotesk;
}
.button2 {
  padding: 1rem 2rem;

  background: #5274ff;
  box-shadow: 0px 3.97826px 19.8913px rgba(0, 0, 0, 0.25);
  border-radius: 21.3953px;

  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 35px;
}
.button2 a {
  color: #fff;
  text-decoration: none;
  font-family: Space Grotesk;
}

.about {
    height: 116vh;
    color: #bbeda6;
    width: 87rem;
    padding: 10rem;
    font-size: xx-large;
    text-align: center;
    background: black;
}

/* width of scroll-bar */
::-webkit-scrollbar {
  width: 13px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #dc143c;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #d2fa85a3;
}
